
# ---------------------------------------------------------------------------------------------------------------------
# Homebrew settings
# ---------------------------------------------------------------------------------------------------------------------
eval "${{ .homebrew_prefix }}/bin/brew shellenv"