
# ---------------------------------------------------------------------------------------------------------------------
# Homebrew settings
# ---------------------------------------------------------------------------------------------------------------------
eval "${{ .homebrew_prefix }}/bin/brew shellenv"


{{- if eq .lang.rust.enabled true }}
# ---------------------------------------------------------------------------------------------------------------------
# Cargo the rust tool
# ---------------------------------------------------------------------------------------------------------------------
[[ -s "$CARGO_HOME" ]] && source "{{ .chezmoi.homeDir }}/.cargo/env"
{{ end -}}


{{- if eq .lang.python.pyenv true }}
# ---------------------------------------------------------------------------------------------------------------------
# pyenv
# ---------------------------------------------------------------------------------------------------------------------
if command -v pyenv 1>/dev/null 2>&1; then
	eval "$(pyenv init -)"
	eval "$(pyenv virtualenv-init -)"
fi
{{ end -}}


{{- if eq .tools.enable.broot true }}
# ---------------------------------------------------------------------------------------------------------------------
# broot: https://github.com/Canop/broot
# ---------------------------------------------------------------------------------------------------------------------
source {{ .chezmoi.homeDir }}/.config/broot/launcher/bash/br
{{ end -}}


# ---------------------------------------------------------------------------------------------------------------------
# fnm: https://github.com/Schniz/fnm replacement for nvm
# ---------------------------------------------------------------------------------------------------------------------
eval "$(fnm env --use-on-cd)"


{{- if eq .tools.prompt "starship" }}
# ---------------------------------------------------------------------------------------------------------------------
# Starship: https://starship.rs/
# ---------------------------------------------------------------------------------------------------------------------
eval "$(starship init zsh)"
{{ end -}}


# ---------------------------------------------------------------------------------------------------------------------
# TheFuck
# ---------------------------------------------------------------------------------------------------------------------
eval "$(thefuck --alias)"


# ---------------------------------------------------------------------------------------------------------------------
# zoxide: https://github.com/ajeetdsouza/zoxide
# ---------------------------------------------------------------------------------------------------------------------
eval "$(zoxide init --cmd cd zsh)"


{{ if eq .lang.java.jenv true }}
# ---------------------------------------------------------------------------------------------------------------------
# Jenv: https://github.com/jenv/jenv
# ---------------------------------------------------------------------------------------------------------------------
eval "$(jenv init -)"
jenv enable-plugin export
{{ end -}}


# ---------------------------------------------------------------------------------------------------------------------
# rvm
# ---------------------------------------------------------------------------------------------------------------------
# This causes an error locally
# [[ -s "$RVM_HOME/scripts/rvm" ]] && source "$RVM_HOME/scripts/rvm" # Load RVM into a shell session *as a function*